{% extends "layout.html" %}
{% block content %}
	
  <h3>This is the list of all products</h3><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product SKU</th>          
<!--           <th scope="col">Product Name</th>
          <th scope="col">Category</th> -->
        </tr>
      </thead>
        <tbody>

	         {% for data in itemData %}
            <tr>
           		{% for row in data %}
				<td>
					{{row['name']}}
				</td>
				{% endfor %} 
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}