{% extends "layout.html" %}
{% block content %}
	
  <h3>This is the list of all products</h3><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product SKU</th>          
<!--           <th scope="col">Product Name</th>
          <th scope="col">Category</th> -->
        </tr>
      </thead>
        <tbody>

	         {% for data in itemData %}
            <tr>
           		{% for row in data %}
				<td>
					{{row['name']}}
				</td>
				{% endfor %} 
            </tr>
          {% endfor %}
        </tbody>
      </table>

          {% for data in itemData %}
    <table>
      <tr id="productName">
        {% for row in data %}
        <td>
          {{row['name']}}
        </td>
        {% endfor %}
      </tr>
      <tr id="productImage">
        {% for row in data %}
        <td>
          <a href="/productDescription?productId={{row[0]}}">
            <img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" />
          </a>
        </td>
        {% endfor %}
      </tr>
      <tr id="productPrice">
        {% for row in data %}
        <td>
          Rs {{row[2]}}
        </td>
        {% endfor %}
      </tr>
    </table>
    {% endfor %}
{% endblock content %}